<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andro.jk.metisandroid1">

    <uses-permission android:name="android.permission.INTERNET"/>
    <permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.activeandroid.app.Application"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="RestClient.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.andro.jk.metisandroid1.HistoryCardData,com.andro.jk.metisandroid1.HistoryDescription" />

        <meta-data android:name="com.google.android.version.gms"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".User.ComplaintActivity"
            android:configChanges="orientation"
            android:label="Add Complaint"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginPreferenceManager"
            android:noHistory="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".NavigationDrawerActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".User.FirstActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            </activity>
        <activity
            android:name=".Management.ManagementMainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".User.History"
            android:label="@string/title_activity_history"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".Management.DescriptionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"

            android:label="Details">
            </activity>
        <activity android:name=".Management.ManagementHistory"
            android:label="@string/title_activity_history"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".Worker.WorkerLogin"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Worker.WorkerComplaintList"
            android:launchMode="singleTask"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            </activity>
        <activity android:name=".AboutActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"/>


        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.andro.jk.metisandroid1.GCM.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service android:name="com.andro.jk.metisandroid1.GCM.RegisterationIntentService" android:exported="false"/>

        <service
            android:name="com.andro.jk.metisandroid1.GCM.MyGCMListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>





    </application>

</manifest>
